@model string
<div class="col-sm-6 font-weight-bold">
    <a asp-page="@Model" class="float-left back-button"><span class="fa fa-5x fa-angle-left"></span><span class="back-button-text">BACK</span></a>
</div>