<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        DETAILS PLACEHOLDER
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
