@model decimal

<div class="row">
    <div class="col-sm-12 text-center font-weight-bold" style="padding-top: 60px">
        <span class="font-18">Change Due:</span> <span class="font-48">@Model.ToString("$#,##0.00")</span>
    </div>
</div>

<!-- TODO: back button needs dynamically controlled to go to any page in the app -->