<div class="container">
    <div class="row">
        <div>&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 d-flex justify-content-start">
            <a asp-page="/TenderCash" class="btn btn-dsg-largeRectangle text-white center-all"><table><tr><td style="padding-bottom:12px;">CASH</td></tr><tr><td><i class="fa fa-usd" style="color:white;font-size:128px;"></i></td></tr></table></a>
        </div>
        <div class="col-md-6 col-sm-12 d-flex justify-content-end">
            <a class="btn btn-dsg-largeRectangle text-white center-all"><table><tr><td style="padding-bottom:12px;">CREDIT</td></tr><tr><td><i class="fa fa-credit-card" style="color:white;font-size:128px;"></i></td></tr></table></a>
        </div>
    </div>
    <div class="row">
        <div>&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 d-flex justify-content-start">
            <a class="btn btn-dsg-mediumRectangle text-white center-all">GIFT CARD</a>
        </div>
        <div class="col-md-4 col-sm-12 d-flex justify-content-center">
            <a class="btn btn-dsg-mediumRectangle text-white center-all">SPLIT TENDER</a>
        </div>
        <div class="col-md-4 col-sm-12 d-flex justify-content-end">
            <a class="btn btn-dsg-mediumRectangle text-white center-all">MORE PAYMENT OPTIONS</a>
        </div>
    </div>
    <div class="row">
        <div>&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 d-flex justify-content-center">
            <a class="btn btn-dsg-longRectangle text-white w-100 center-all">LOOKUP / ENROLL PRIVATE LABEL CREDIT CARD</a>
        </div>
    </div>
</div>





